datefinder
ner_d
nltk
pandas
Flask
matplotlib
numpy
regex
colorama
plac
spacy==3.0.0
nameparser
imutils
pytesseract
easygui
joblib
torchvision
seaborn
dateparser
pyocr
opencv_contrib_python
nerd
Pillow
scikit_learn
